@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
      src: url("../public/fonts/Editor\'sNote-Medium.ttf");
      font-family: "Editor";
      font-weight: normal;
      font-style: normal;
}

@font-face {
  src: url("../public/fonts/Editor\'sNote-MediumItalic.ttf");
  font-family: "Editor";
  font-weight: normal;
  font-style: italic;
}

@font-face {
  src: url("../public/fonts/Editor\'sNote-Extralight.ttf");
  font-family: "Editor";
  font-weight: lighter;
  font-style: normal;
}

@font-face {
src: url("../public/fonts/Editor\'sNote-ExtralightItalic.ttf");
font-family: "Editor";
font-weight: lighter;
font-style: italic;
}

@layer base {
   #name_section{
    font-family: "Editor";
    font-style: normal;
    font-weight: lighter;
  }

  #canvas3d {
    opacity: 0.4;
  }
}